<li class="{{ status }}"> 
	<input data-id="{{ id }}" type="checkbox" {{ #checkbox }}checked{{ /checkbox }}/>
	<em>{{ status }}</em>
	<strong>id: {{ id }} | order: {{ todo_order }}</strong>
	<span>{{ description }}</span>
	<div class="btn-group">
		<a class="btn btn-grey" href="/todos/{{ id }}">go to {{ id }}</a>
		<a class="btn btn-grey form-btn" href="/category/{{ category_id }}/edit/{{ id }}">form for {{id}}</a>
		<a class="btn btn-main delete-btn" href="#">DELETE</a>
		<a class="btn btn-secondary move-btn" href="#">make movable!</a>
	</div>
</li>
